{% extends 'productos_app/base.html' %}
{% load static %}
{% block content%}
<!--
<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {% for ca in object_list.carritos %}
      <tr>

        <td><img src="media/{{ca.imagen}}" class="img-thumbnail" style="width:10%;"></td>
        <td>{{ca.nombre}}</td>
        <td>{{ca.precio}}</td>
        <td>{{ca.cantidad}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td>
          <h3>Precio Final</h3>
        </td>
        <td>
          <h3>{{object_list.precio_total}}</h3>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <button type="button" class="btn btn-primary btn-lg">Enviar Compra</button>
  </div>
</div>
<hr>
-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Cesta</h1>
    <p class="lead">Aquí en contraras todos tus productos que elegiste.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {% for ca in object_list.carritos %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/media/{{ca.imagen}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ca.nombre}}</h5>
              <p class="card-text">Precio $ {{ca.precio}}</p>
              <p class="card-text">Cantidad # {{ca.cantidad}}</p>
              <a class="btn btn-danger" href="{% url 'eliminar_carrito' ca.id %}" role="button">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          Total a compra:
        </div>
        <div class="card-body">
          <h5 class="card-title">{{object_list.precio_total}} US $</h5>
          <p class="card-text">Tu pedido se ira vía mail y un asesor se contactara contigo.</p>
          <a href="{% url 'correo_enviado'%}" class="btn btn-primary">Enviar pedido</a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}