{% extends 'productos_app/base.html' %}
{% load static %}
{% block content%}

<style>
  .errorlist {
    color: red;
  }
</style>

<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="{% static '/images/login.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Iniciar sesión</h5>
      {% if 'registrado' in request.GET %}
      <p style="color: green;">Usuario registrado correctamente, ya puedes identificarte.</p>
      {% endif %}
      <form action="" method="post">{% csrf_token %}
        {% if form.non_field_errors %}
        <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
        {% endif %}
        <p>
          <input type="text" name="username" autofocus maxlength="254" required id="id_username"
            class="form-control" placeholder="Nombre de usuario" />
        </p>
        <p>
          <input type="password" name="password" required id="id_password" class="form-control"
            placeholder="Contraseña" />
        </p>
        <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
      </form>
    </div>
  </div>
</div>

{% endblock %}